name: Manage outdated dependencies and create issue

on: 
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  check-outdated-dependencies:
    runs-on: macos-latest
    name: Check outdated dependencies and create issue if it doesn't exist
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      - name: Check outdated dependencies and create issue
        id: check-outdated-dependencies-and-create-issue
        uses: rudderlabs/github-action-updated-dependencies-notifier@main
        with:
          outdated-dependency-names: "com.singular.sdk:singular_sdk"
          directory: "singular/build.gradle"
          alternative-dependency-lookup: "com.singular.sdk:singular_sdk"
          alternative-dependency-lookup-url: "https://maven.singular.net/com/singular/sdk/singular_sdk/maven-metadata.xml"
          title: "fix: update Singular SDK to the latest version"
          assignee: "desusai7"
          labels: "outdatedDependency"
          color: "FBCA04"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get the github issue url
        if: steps.check-outdated-dependencies-and-create-issue.outputs.issue-url != ''
        run: echo "The Github issue url is ${{ steps.check-outdated-dependencies-and-create-issue.outputs.issue-url }}"